@using VsixMvcAppResult.UI.Web.Common.Mvc.Html;
@using VsixMvcAppResult.UI.Web.Areas.UserAccount;
@using VsixMvcAppResult.UI.Web.Areas.Error;
@model VsixMvcAppResult.UI.Web.Models.baseViewModel
@{ Layout = null; }

    @*
    <div class="ui-site-header ui-widget-header ui-widget-content ui-corner-all">
        <span id="menuToggle" class="ui-menuToggle fa fa-bars fa-2x"></span>
        <div class="ui-siteVersion">
            v. - @VsixMvcAppResult.UI.Web.MvcApplication.Version
        </div>
    </div>
    <div class="ui-carriageReturn"></div>
    *@
