@using VsixMvcAppResult.UI.Web.Common.Mvc.Html;
@using VsixMvcAppResult.UI.Web.Areas.Home;
@using VsixMvcAppResult.UI.Web.Areas.UserAdministration;
@using VsixMvcAppResult.UI.Web.Areas.Error;
@using VsixMvcAppResult.UI.Web.Models;
@using VsixMvcAppResult.UI.Web.Common.Mvc.Html;
@using VsixMvcAppResult.UI.Web.Areas.UserAccount;
@using VsixMvcAppResult.UI.Web.Areas.Error;
@using VsixMvcAppResult.Models.Enumerations;


@model   VsixMvcAppResult.UI.Web.Models.baseViewModel


<div data-widget="userOptions" data-widget-url="@Url.Account_UserAccountBar()">
    <div class="ui-site-header ui-widget-header ui-widget-content ui-corner-all"></div>
</div>
<div class="ui-carriageReturn"></div>
