@using VsixMvcAppResult.UI.Web.Common.Mvc.Html;
@model VsixMvcAppResult.UI.Web.Areas.Error.Models.ErrorInfoModel

@{
    Layout = "~/Areas/Error/Views/Shared/LayOut.cshtml";
}

@section InlineStyles{

}

@section ScriptsToAdd
{

}

@section ErrorDescriptionContainer
{
    <p>@VsixMvcAppResult.Resources.General.GeneralTexts.UnAuthorizedError_TryLoginAsDifferentUser</p><br />

    @Html.LogOnButton()
}
