@using VsixMvcAppResult.UI.Web.Common.Mvc.Html;
@model VsixMvcAppResult.UI.Web.Models.baseViewModel
		   
    <div class="ui-detailsBox">
        <div class="ui-widget-header ui-corner-top ui-widget-content">
            @VsixMvcAppResult.Resources.UserAdministration.UserAdminTexts.ManageUserRoles
        </div>
        <div  class="ui-widget-contentBody ui-widget-content">
		    <div class="ui-mvcMembership-usersRoles">
				    <ul></ul>
		    </div>
        </div>
    </div>


