/*
.ui-siteMenu-TopNav {}
.ui-siteMenu-TopNav .ui-widget-header {border:0 !important;padding:1em 1em 1em 1em ;}
.ui-siteMenu-TopNav .ui-siteMenu-TopNav-content {border:0 !important;}
.ui-siteMenu-TopNav .ui-siteMenu-TopNav-content  ul li {padding:.2em .2em .2em .2em;}
*/

html, * {font-size: 25px ;}
.ui-widget {font-size: 25px ;}
.ui-widget > * {font-size: 25px ;}
h1 {font-size: 30px;}