@using VsixMvcAppResult.UI.Web.Common.Mvc.Html;
@using VsixMvcAppResult.UI.Web.Areas.Home;
@using VsixMvcAppResult.UI.Web.Areas.UserAdministration;
@using VsixMvcAppResult.UI.Web.Areas.Error;
@using VsixMvcAppResult.UI.Web.Models;
@using VsixMvcAppResult.UI.Web.Common.Mvc.Html;
@using VsixMvcAppResult.UI.Web.Areas.UserAccount;
@using VsixMvcAppResult.UI.Web.Areas.Error;
@using VsixMvcAppResult.Models.Enumerations;


@model   VsixMvcAppResult.UI.Web.Models.baseViewModel


@*<div data-widget="userOptions" data-widget-url="@Url.Account_UserUpdateLastActivity()">
        <div class="ui-site-header ui-widget-header ui-widget-content ui-corner-all">
            <span id="menuToggle" class="ui-menuToggle fa fa-bars fa-2x"></span>
            <div class="ui-siteVersion">
                v. - @VsixMvcAppResult.UI.Web.MvcApplication.Version
            </div>
        </div>
        <div class="ui-carriageReturn"></div>
    </div>
    <div class="ui-carriageReturn"></div>*@


