@using VsixMvcAppResult.UI.Web.Common.Mvc.Html;
@model VsixMvcAppResult.UI.Web.Areas.Error.Models.ErrorInfoModel

@{
    Layout = "~/Areas/Error/Views/Shared/LayOut.cshtml";
}

@section InlineStyles{

   
}

@section ScriptsToAdd
{

}

@section ErrorDescriptionContainer
{
        @Html.WidgetMessage(VsixMvcAppResult.Models.Enumerations.DataResultMessageType.Error, 
                            string.Format("{0} <br/><br/><a href='{2}'>{1}</a>",
                                            VsixMvcAppResult.Resources.General.GeneralTexts.UnexpectedErrorIdAssigned, 
                                            Request.QueryString["id"],
                                            VsixMvcAppResult.UI.Web.Areas.LogViewer.LogViewerUrlHelper.LogGetById(Url, Request.QueryString["id"])))
}
